.page-wrapper{
    height: 100vh;
    overflow: hidden;
    width: 100%;
    .page-container{
        display: flex;
        height: calc(100vh - 70px);
        overflow: auto;
        padding-bottom: 30px;
    }
}